
.contacts{
  display: flex;
  flex-wrap:  wrap;
  padding: 1rem;

}

.each_contact{
  margin: 1rem;
}

.addbtn{
  background-color: red;
  color: white;
  margin: 1rem;
  position: relative;
  left: 60%;
}

.btn{
  color: white;
  background-color: blue;
  margin: 5px;
  padding: 2px;
}

.center_div{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;

}